<input id="project-name" placeholder="プロジェクト名" type="text"/>
<input id="data-limit" placeholder="取得件数" type="text"/>
<button id="display-graph">グラフ表示</button>

<div class="latest-area">
</div>

<div class="weekly-area">
</div>

<canvas id="healthChart" height="450" width="800"></canvas>
<canvas id="githubChart" height="450" width="800"></canvas>
<canvas id="slackChart" height="450" width="800"></canvas>
<canvas id="photoChart" height="450" width="800"></canvas>

<script>
  function displayLineChart(data,label,dom_id) {
    var data = {
        labels: labels,
        datasets: [
            {
                label: "",
                fillColor: "rgba(220,220,220,0.2)",
                strokeColor: "rgba(220,220,220,1)",
                pointColor: "rgba(220,220,220,1)",
                pointStrokeColor: "#fff",
                pointHighlightFill: "#fff",
                pointHighlightStroke: "rgba(220,220,220,1)",
                data: data
            }
        ]
    };
    var ctx = document.getElementById(dom_id).getContext("2d");
    var options = { };
    var lineChart = new Chart(ctx).Line(data, options);
  }

  $("#display-graph").on("click",function(){
    p_name = $("#project-name").val();
    limit = $("#data-limit").val();
    $.getJSON("http://pom.l-u-l.tk/api/projects",{name:p_name},
      function(json){
        $.getJSON("http://pom.l-u-l.tk/api/health_scores/"+json.id,{limit: limit},
          function(data){
            console.log(data)
            photo_scores = [];
            github_scores = [];
            slack_scores = [];
            avarage_scores = [];
            labels = [];
            for (var i = 0; i < data.length; i++) {
              photo_scores.push(data[i].photo_score.value);
              github_scores.push(data[i].github_score.value);
              slack_scores.push(data[i].slack_score.value);
              labels.push(data[i].date);
              avarage_scores.push((data[i].github_score.value+data[i].photo_score.value+data[i].slack_score.value)/3);
            };
            displayLineChart(avarage_scores,labels,"healthChart");
            displayLineChart(github_scores,labels,"githubChart");
            displayLineChart(slack_scores,labels,"slackChart");
            displayLineChart(photo_scores,labels,"photoChart");
          });
      });
  });
</script>