<!DOCTYPE html>
<html>
<head>
  <title>PomServer</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<header>
  <li><a href="/">グラフ</a></li>
  <li><a href="/unity">映像</a></li>
</header>
<div class="content">
  <%= yield %>
</div>

</body>
</html>
